  <% for(let i = 0; i < res.data.length; i++) { %>
    <tr>
      <td><%= res.data[i].name %></td>
      <td><%= res.data[i].email %></td>
      <td><%= res.data[i].gender %></td>
      <td><%= ( res.data[i].status == 1 ) ? "Active" : "InActive"  %></td>
      <td><a href="update_user?id=<%= res.data[i]._id %>"> Edit </a> | <span class="text-danger"> <a href="" class="delete" data-id=<%= res.data[i]._id %> >Delete</a></span></td>
    </tr>
  <% } %>

    
 